@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none;
    font-weight: 400;
}

*{
    box-sizing: border-box;

}

input,textarea{
    border: 1px solid rgb(88, 173, 19);
    border-radius: 10px;
    padding: 10px;
}
